body {
    font-family: 'Roboto', sans-serif;
    // Centers the content
    display: flex;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 0 auto;
    width: 1000px;
}

a {
    outline: none;
}